<% Visual.variants.each do |v| %>
  <%= simple_form_for [@page, Visual.new] do |f| %>
    <%= f.input :type, as: :hidden, input_html: { value: v } %>
    <%= f.submit "+ #{v.label}" %>
  <% end %>
  <div class="clearfix"></div>
  <%= info(v.name.gsub('::', '_').downcase) %>
<% end %>
