<% visual.datasets.each do |dataset| %>
  <div class="ct-chart ct-golden-section" id="dataset_<%= dataset.query_id %>"></div>
  <script>
    new Chartist.Pie('#dataset_<%= dataset.query_id %>', {
      labels: <%= dataset.values.transpose.first.to_json.html_safe %>,
      series: <%= dataset.values.transpose[1].to_json.html_safe %>
    }, { scaleMinSpace: 100 });
  </script>
<% end %>
